{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <h1>LERG Files Upload</h1>
    <br/>
    <form id="uploadForm" action="" class="form" method="POST" role="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.file_upload(class="form-control") | safe }}
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-default btn-submit", disabled=True) }}
            <input type="button" value="Log Download" class="btn btn-default" onClick="window.location.href='/log'"/>
        </div>
    </form>
    <h3>Operation Log</h3>
    <div style="max-height:200px; overflow-y:auto">{{ log_content }}</div>
</div>
{% endblock %}
{% block js %}
    {{ javascript_tag('upload') | safe }}
{% endblock %}
